body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-38px;
  width:983px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10604 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:123px;
  width:61px;
  height:39px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u10605 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:580px;
  width:58px;
  height:58px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10606 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:83px;
  width:61px;
  height:39px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:867px;
}
#u10608 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:20px;
  width:438px;
  height:867px;
  display:flex;
}
#u10608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:41px;
}
#u10609 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:40px;
  width:381px;
  height:41px;
  display:flex;
}
#u10609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:110px;
}
#u10613 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:40px;
  width:378px;
  height:110px;
  display:flex;
}
#u10613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u10614 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:108px;
  width:179px;
  height:28px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u10614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u10615 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:106px;
  width:15px;
  height:28px;
  display:flex;
}
#u10615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
}
#u10617 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:202px;
  width:375px;
  height:135px;
  display:flex;
}
#u10617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10618 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:227px;
  width:181px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#909090;
}
#u10619 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:296px;
  width:209px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#909090;
}
#u10619 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10619_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10620 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:287px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10621 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:259px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10622 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:259px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10623 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:259px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10624 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:232px;
  width:45px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:34px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10625 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:157px;
  width:302px;
  height:34px;
  display:flex;
}
#u10625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u10626 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:40px;
  width:229px;
  height:30px;
  display:flex;
}
#u10626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10627 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:165px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
}
#u10629 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:347px;
  width:375px;
  height:135px;
  display:flex;
}
#u10629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10630 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:372px;
  width:181px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10630 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10630_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#909090;
}
#u10631 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:441px;
  width:209px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#909090;
}
#u10631 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10631_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10632 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:432px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10633 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:404px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10634 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:404px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10635 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:404px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10636 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:377px;
  width:45px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
}
#u10638 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:492px;
  width:375px;
  height:135px;
  display:flex;
}
#u10638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10639 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:517px;
  width:181px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10639 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10639_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#909090;
}
#u10640 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:586px;
  width:209px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#909090;
}
#u10640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10640_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10641 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:577px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10642 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:549px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10643 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:549px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10644 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:549px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10645 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:522px;
  width:45px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
}
#u10647 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:631px;
  width:375px;
  height:135px;
  display:flex;
}
#u10647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10648 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:656px;
  width:181px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10648_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#909090;
}
#u10649 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:725px;
  width:209px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#909090;
}
#u10649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10650 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:688px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10651 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:688px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u10652 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:688px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10653 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:661px;
  width:45px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u10653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10654 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:242px;
  width:25px;
  height:25px;
  display:flex;
}
#u10654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10655 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:387px;
  width:25px;
  height:25px;
  display:flex;
}
#u10655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10656 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:532px;
  width:25px;
  height:25px;
  display:flex;
}
#u10656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10657 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:671px;
  width:25px;
  height:25px;
  display:flex;
}
#u10657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u10658 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:759px;
  width:58px;
  height:58px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u10659 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:172px;
  width:10px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u10659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u10660 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:167px;
  width:14px;
  height:15px;
  display:flex;
}
#u10660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10661 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:165px;
  width:66px;
  height:18px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u10662 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:286px;
  width:81px;
  height:28px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u10662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10662_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u10663 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:333px;
  width:500px;
  height:44px;
  display:flex;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u10663 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u10663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10664 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:267px;
  width:0px;
  height:0px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u10664_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u10664_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-5px;
  width:10px;
  height:24px;
}
#u10664_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u10664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10665 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:400px;
  width:132px;
  height:49px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10666 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:500px;
  width:150px;
  height:57px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10667 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:634px;
  width:132px;
  height:49px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10668 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:449px;
  width:0px;
  height:0px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#353535;
}
#u10668_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u10668_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u10668_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10669 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:634px;
  width:132px;
  height:49px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10670 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:557px;
  width:0px;
  height:0px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#353535;
}
#u10670_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:45px;
}
#u10670_seg1 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:35px;
  width:84px;
  height:10px;
}
#u10670_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:35px;
  width:10px;
  height:42px;
}
#u10670_seg3 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:62px;
  width:20px;
  height:20px;
}
#u10670_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u10671 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:557px;
  width:0px;
  height:0px;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#353535;
}
#u10671_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:45px;
}
#u10671_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:35px;
  width:92px;
  height:10px;
}
#u10671_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:35px;
  width:10px;
  height:42px;
}
#u10671_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:62px;
  width:20px;
  height:20px;
}
#u10671_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
