body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:2722px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:727px;
}
#u11821 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:43px;
  width:1919px;
  height:727px;
  display:flex;
}
#u11821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:745px;
}
#u11822 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:43px;
  width:174px;
  height:745px;
  display:flex;
}
#u11822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#A2ACBD;
}
#u11823 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:414px;
  width:79px;
  height:18px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#A2ACBD;
}
#u11823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#A2ACBD;
}
#u11824 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:456px;
  width:40px;
  height:18px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#A2ACBD;
}
#u11824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11824_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u11825 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:457px;
  width:9px;
  height:16px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#A2ACBD;
}
#u11826 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:522px;
  width:53px;
  height:18px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#A2ACBD;
}
#u11826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#A2ACBD;
}
#u11827 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:490px;
  width:53px;
  height:18px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#A2ACBD;
}
#u11827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u11828 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:562px;
  width:1px;
  height:18px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u11828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u11829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u11829 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:555px;
  width:61px;
  height:21px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u11829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11830 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:615px;
  width:49px;
  height:17px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11831 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:586px;
  width:49px;
  height:17px;
  display:flex;
  opacity:0.6;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:602px;
}
#u11832 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:125px;
  width:1715px;
  height:602px;
  display:flex;
}
#u11832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:493px;
}
#u11833 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:197px;
  width:1715px;
  height:493px;
  display:flex;
}
#u11833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11834 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:259px;
  width:1653px;
  height:227px;
}
#u11835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:79px;
}
#u11835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:79px;
  display:flex;
}
#u11835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:79px;
}
#u11836 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:190px;
  height:79px;
  display:flex;
}
#u11836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:79px;
}
#u11837 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:204px;
  height:79px;
  display:flex;
}
#u11837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:79px;
}
#u11838 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:0px;
  width:228px;
  height:79px;
  display:flex;
}
#u11838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:79px;
}
#u11839 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:0px;
  width:411px;
  height:79px;
  display:flex;
}
#u11839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:79px;
}
#u11840 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:0px;
  width:236px;
  height:79px;
  display:flex;
}
#u11840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:79px;
}
#u11841 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:0px;
  width:241px;
  height:79px;
  display:flex;
}
#u11841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:42px;
}
#u11842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:143px;
  height:42px;
  display:flex;
}
#u11842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:42px;
}
#u11843 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:79px;
  width:190px;
  height:42px;
  display:flex;
}
#u11843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:42px;
}
#u11844 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:79px;
  width:204px;
  height:42px;
  display:flex;
}
#u11844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:42px;
}
#u11845 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:79px;
  width:228px;
  height:42px;
  display:flex;
}
#u11845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:42px;
}
#u11846 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:79px;
  width:411px;
  height:42px;
  display:flex;
}
#u11846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:42px;
}
#u11847 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:79px;
  width:236px;
  height:42px;
  display:flex;
}
#u11847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:42px;
}
#u11848 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:79px;
  width:241px;
  height:42px;
  display:flex;
}
#u11848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:53px;
}
#u11849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:143px;
  height:53px;
  display:flex;
}
#u11849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:53px;
}
#u11850 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:121px;
  width:190px;
  height:53px;
  display:flex;
}
#u11850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:53px;
}
#u11851 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:121px;
  width:204px;
  height:53px;
  display:flex;
}
#u11851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:53px;
}
#u11852 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:121px;
  width:228px;
  height:53px;
  display:flex;
}
#u11852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:53px;
}
#u11853 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:121px;
  width:411px;
  height:53px;
  display:flex;
}
#u11853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:53px;
}
#u11854 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:121px;
  width:236px;
  height:53px;
  display:flex;
}
#u11854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:53px;
}
#u11855 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:121px;
  width:241px;
  height:53px;
  display:flex;
}
#u11855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:53px;
}
#u11856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:143px;
  height:53px;
  display:flex;
}
#u11856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:53px;
}
#u11857 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:174px;
  width:190px;
  height:53px;
  display:flex;
}
#u11857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:53px;
}
#u11858 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:174px;
  width:204px;
  height:53px;
  display:flex;
}
#u11858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:53px;
}
#u11859 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:174px;
  width:228px;
  height:53px;
  display:flex;
}
#u11859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:53px;
}
#u11860 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:174px;
  width:411px;
  height:53px;
  display:flex;
}
#u11860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:53px;
}
#u11861 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:174px;
  width:236px;
  height:53px;
  display:flex;
}
#u11861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:53px;
}
#u11862 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:174px;
  width:241px;
  height:53px;
  display:flex;
}
#u11862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u11864 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:852px;
  width:772px;
  height:351px;
  display:flex;
}
#u11864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:46px;
}
#u11865 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:876px;
  width:124px;
  height:46px;
  display:flex;
  font-size:30px;
}
#u11865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11866 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:977px;
  width:710px;
  height:127px;
  display:flex;
  opacity:0.43;
}
#u11866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:26px;
}
#u11867 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:935px;
  width:124px;
  height:26px;
  display:flex;
  font-size:16px;
}
#u11867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11868 {
  border-width:0px;
  position:absolute;
  left:1704px;
  top:1146px;
  width:82px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u11868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11869 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:1146px;
  width:78px;
  height:38px;
  display:flex;
}
#u11869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:26px;
}
#u11870 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:990px;
  width:208px;
  height:26px;
  display:flex;
  font-size:16px;
}
#u11870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11871 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:217px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11871_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
}
#u11872 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:213px;
  width:149px;
  height:23px;
  display:flex;
}
#u11872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11873 {
  border-width:0px;
  position:absolute;
  left:1674px;
  top:211px;
  width:57px;
  height:27px;
  display:flex;
  color:#FFFFFF;
}
#u11873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:23px;
}
#u11874 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:214px;
  width:225px;
  height:23px;
  display:flex;
}
#u11874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11875 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:218px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u11876 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:214px;
  width:23px;
  height:23px;
  display:flex;
}
#u11876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11877 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:217px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
}
#u11878 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:213px;
  width:149px;
  height:23px;
  display:flex;
}
#u11878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11879 {
  border-width:0px;
  position:absolute;
  left:1751px;
  top:211px;
  width:57px;
  height:27px;
  display:flex;
  color:#FFFFFF;
}
#u11879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:444px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u11880 {
  border-width:0px;
  position:absolute;
  left:1990px;
  top:49px;
  width:772px;
  height:444px;
  display:flex;
}
#u11880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11881 {
  border-width:0px;
  position:absolute;
  left:1990px;
  top:49px;
  width:772px;
  height:51px;
  display:flex;
  opacity:0.27;
}
#u11881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u11882 {
  border-width:0px;
  position:absolute;
  left:2009px;
  top:62px;
  width:124px;
  height:25px;
  display:flex;
  font-size:15px;
}
#u11882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11883 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:259px;
  width:710px;
  height:144px;
  display:flex;
  opacity:0.43;
}
#u11883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
}
#u11884 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:195px;
  width:242px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u11884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11885 {
  border-width:0px;
  position:absolute;
  left:2566px;
  top:423px;
  width:82px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u11885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11886 {
  border-width:0px;
  position:absolute;
  left:2660px;
  top:423px;
  width:78px;
  height:38px;
  display:flex;
}
#u11886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:104px;
}
#u11887 {
  border-width:0px;
  position:absolute;
  left:2031px;
  top:274px;
  width:686px;
  height:104px;
  display:flex;
  font-size:14px;
}
#u11887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
}
#u11888 {
  border-width:0px;
  position:absolute;
  left:2607px;
  top:65px;
  width:102px;
  height:19px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
}
#u11889 {
  border-width:0px;
  position:absolute;
  left:2566px;
  top:64px;
  width:121px;
  height:22px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u11890 {
  border-width:0px;
  position:absolute;
  left:2323px;
  top:120px;
  width:89px;
  height:19px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u11891 {
  border-width:0px;
  position:absolute;
  left:2290px;
  top:119px;
  width:33px;
  height:22px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u11892 {
  border-width:0px;
  position:absolute;
  left:2562px;
  top:119px;
  width:75px;
  height:22px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
}
#u11893 {
  border-width:0px;
  position:absolute;
  left:2517px;
  top:119px;
  width:35px;
  height:22px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
}
#u11894 {
  border-width:0px;
  position:absolute;
  left:2092px;
  top:120px;
  width:146px;
  height:19px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
}
#u11895 {
  border-width:0px;
  position:absolute;
  left:2018px;
  top:119px;
  width:59px;
  height:22px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11896 {
  border-width:0px;
  position:absolute;
  left:2021px;
  top:230px;
  width:37px;
  height:13px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11896_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11897 {
  border-width:0px;
  position:absolute;
  left:2178px;
  top:230px;
  width:52px;
  height:13px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11898 {
  border-width:0px;
  position:absolute;
  left:2067px;
  top:230px;
  width:33px;
  height:13px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11899 {
  border-width:0px;
  position:absolute;
  left:2132px;
  top:230px;
  width:37px;
  height:13px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11900 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:230px;
  width:37px;
  height:13px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11901 {
  border-width:0px;
  position:absolute;
  left:2301px;
  top:230px;
  width:16px;
  height:13px;
  display:flex;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:9px;
}
#u11901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11902 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:217px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u11903 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:213px;
  width:110px;
  height:23px;
  display:flex;
}
#u11903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
