body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1527px;
  width:783px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5886 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:282px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5886 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5887 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:295px;
  width:14px;
  height:14px;
  display:flex;
}
#u5887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5887_img.mouseOver {
}
#u5887.mouseOver {
}
#u5887_img.selected {
}
#u5887.selected {
}
#u5887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888 {
  border-width:0px;
  position:absolute;
  left:1723px;
  top:292px;
  width:83px;
  height:20px;
  display:flex;
}
#u5888 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5888_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888.selected {
}
#u5888_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5889 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:295px;
  width:14px;
  height:14px;
  display:flex;
}
#u5889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5889_img.mouseOver {
}
#u5889.mouseOver {
}
#u5889_img.selected {
}
#u5889.selected {
}
#u5889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5890 {
  border-width:0px;
  position:absolute;
  left:1820px;
  top:292px;
  width:69px;
  height:20px;
  display:flex;
}
#u5890 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5890_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5890.selected {
}
#u5890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5891 {
  position:absolute;
  left:1599px;
  top:260px;
}
#u5891_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5891_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  display:flex;
}
#u5892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5893 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:581px;
  width:410px;
  height:50px;
  display:flex;
}
#u5893 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 15px 5px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5893_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 143, 244, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5893.selected {
}
#u5893_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5893.disabled {
}
#u5893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5894 {
  position:absolute;
  left:1599px;
  top:322px;
}
#u5894_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5894_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  display:flex;
}
#u5895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5896 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:344px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5896 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5897 {
  border-width:0px;
  position:absolute;
  left:1835px;
  top:354px;
  width:97px;
  height:20px;
  display:flex;
}
#u5897 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5897_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5897.selected {
}
#u5897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5898 {
  border-width:0px;
  position:absolute;
  left:1821px;
  top:357px;
  width:14px;
  height:14px;
  display:flex;
}
#u5898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5899 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:354px;
  width:97px;
  height:20px;
  display:flex;
}
#u5899 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5899_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5899.selected {
}
#u5899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5900 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:357px;
  width:14px;
  height:14px;
  display:flex;
}
#u5900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5901 {
  border-width:0px;
  position:absolute;
  left:1712px;
  top:359px;
  width:10px;
  height:10px;
  display:flex;
}
#u5901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5902 {
  border-width:0px;
  position:absolute;
  left:1835px;
  top:394px;
  width:97px;
  height:20px;
  display:flex;
}
#u5902 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5902_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5902.selected {
}
#u5902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5903 {
  border-width:0px;
  position:absolute;
  left:1821px;
  top:397px;
  width:14px;
  height:14px;
  display:flex;
}
#u5903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5904 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:394px;
  width:97px;
  height:20px;
  display:flex;
}
#u5904 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5904_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5904.selected {
}
#u5904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5905 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:397px;
  width:14px;
  height:14px;
  display:flex;
}
#u5905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5906 {
  border-width:0px;
  position:absolute;
  left:1712px;
  top:399px;
  width:10px;
  height:10px;
  display:flex;
}
#u5906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5907 {
  position:absolute;
  left:1599px;
  top:424px;
}
#u5907_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5907_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  display:flex;
}
#u5908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5909 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:384px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5909 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:6px;
  background:inherit;
  background-color:rgba(228, 231, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5910 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:463px;
  width:410px;
  height:6px;
  display:flex;
}
#u5910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5911 {
  border-width:0px;
  position:absolute;
  left:1950px;
  top:456px;
  width:20px;
  height:20px;
  display:flex;
}
#u5911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:446px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5912 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5913 {
  border-width:0px;
  position:absolute;
  left:1946px;
  top:354px;
  width:97px;
  height:20px;
  display:flex;
}
#u5913 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5913_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5913.selected {
}
#u5913_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:357px;
  width:14px;
  height:14px;
  display:flex;
}
#u5914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:2057px;
  top:354px;
  width:97px;
  height:20px;
  display:flex;
}
#u5915 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5915_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5915.selected {
}
#u5915_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:2043px;
  top:357px;
  width:14px;
  height:14px;
  display:flex;
}
#u5916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:center;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:2130px;
  top:446px;
  width:180px;
  height:40px;
  display:flex;
  color:#333333;
  text-align:center;
}
#u5917 .text {
  position:absolute;
  align-self:center;
  padding:0px 50px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u5917_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 143, 244, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:center;
}
#u5917.selected {
}
#u5917_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  text-align:center;
}
#u5917.disabled {
}
#u5917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:2130px;
  top:446px;
  width:40px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u5918 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5918_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 143, 244, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u5918.selected {
}
#u5918_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u5918.disabled {
}
#u5918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:2270px;
  top:446px;
  width:40px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u5919 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5919_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 143, 244, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u5919.selected {
}
#u5919_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u5919.disabled {
}
#u5919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u5920 {
  border-width:0px;
  position:absolute;
  left:1783px;
  top:512px;
  width:63px;
  height:32px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5920 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5920_img.mouseOver {
}
#u5920.mouseOver {
}
#u5920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:1856px;
  top:512px;
  width:63px;
  height:32px;
  display:flex;
}
#u5921 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5921_img.mouseOver {
}
#u5921.mouseOver {
}
#u5921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:1929px;
  top:512px;
  width:63px;
  height:32px;
  display:flex;
}
#u5922 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5922_img.mouseOver {
}
#u5922.mouseOver {
}
#u5922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:2002px;
  top:512px;
  width:63px;
  height:32px;
  display:flex;
}
#u5923 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5923_img.mouseOver {
}
#u5923.mouseOver {
}
#u5923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:512px;
  width:63px;
  height:32px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5924 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5924_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5924.mouseOver {
}
#u5924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:right;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:508px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:right;
}
#u5925 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5926 {
  position:absolute;
  left:1599px;
  top:486px;
}
#u5926_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5926_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  display:flex;
}
#u5927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:right;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:570px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:right;
}
#u5928 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u5928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5929 {
  position:absolute;
  left:1599px;
  top:548px;
}
#u5929_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5929_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  display:flex;
}
#u5930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5932 {
  border-width:0px;
  position:absolute;
  left:1527px;
  top:179px;
  width:25px;
  height:40px;
  display:flex;
}
#u5932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u5933 {
  border-width:0px;
  position:absolute;
  left:1532px;
  top:196px;
  width:14px;
  height:9px;
  display:flex;
}
#u5933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
